html{
    background-color: slategrey;
}

#Credentials{
    background-color: white;
    border-radius: 25px;
    max-width: 350px;
    min-width: 341px;
    height: auto;
    margin: auto;

    border-style: solid;
    border-width: 2px;

    box-shadow: none;
}

#Credentials:hover{
    box-shadow: 5px 5px 5px black;
    translate: 4px 4px;
}

#Email #Email_In #Password #Pass_In{
    max-width: auto;
    min-width: 100%;
}

input{
    border-radius: 25px;
}

img{
    max-height: 300px;
    min-height: 300px;
    max-width: 300px;
    min-width: 300px;
}
